<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <title>{{titles}}</title>
    {% include 'header.html' %}
</head>

<body>

    <div class="theme-loader">
        <div class="ball-scale">
            <div></div>
        </div>
    </div>

    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            {% include 'headertab.html' %}           
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    {% include 'sidebar.html' %}
                    <!-- {% block body %} {% endblock %} -->
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">

                            <div class="main-body">
                                <div class="page-wrapper">

                                    <div class="page-header">
                                        <div class="page-header-title">
                                            <h4>CATEGORY</h4>
                                        </div>
                                        <div class="page-header-breadcrumb">
                                            <ul class="breadcrumb-title">
                                                <li class="breadcrumb-item">
                                                    <a href="index-2.html">
                                                        <i class="icofont icofont-home"></i>
                                                    </a>
                                                </li>
                                                <li class="breadcrumb-item"><a href="#!">Category</a>
                                                </li>
                                                <li class="breadcrumb-item"><a href="#!">Add Category</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>


                                    <div class="page-body">
                                        <div class="row">
                                            <div class="col-sm-12">

                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5>Basic Form Inputs</h5>
                                                        <div class="card-header-right">
                                                            <i class="icofont icofont-rounded-down"></i>
                                                            <i class="icofont icofont-refresh"></i>
                                                            <i class="icofont icofont-close-circled"></i>
                                                        </div>
                                                    </div>
                                                    <div class="card-block">
                                                        <h4 class="sub-title">ADD CATEGORY</h4>
                                                        <form  id="cat_form" method="POST" enctype="multipart/form-data" >
                                                            {% csrf_token %}
                                                            {{ form.media }}
                                                            {% comment %} {{ form.as_p }} {% endcomment %}
                                                            <div class="form-group row">
                                                                <label
                                                                    class="col-sm-2 col-form-label">Category Name</label>
                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control"
                                                                        placeholder="Type your Category Name"
                                                                        name="category"
                                                                    >
                                                                    {% comment %} {{form.name}} {% endcomment %}
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label class="col-sm-2 col-form-label">Category
                                                                    Image</label>
                                                                <div class="col-sm-6">
                                                                    <input type="file" class="form-control" 
                                                                    id="imageid"
                                                                    onchange="document.getElementById('image').src = window.URL.createObjectURL(this.files[0])" 
                                                                    name="image"
                                                                    >
                                                                    
                                                                </div>
                                                                <div class="col-sm-4">
                                                                    <img src="https://falkirk.falkirkcommunitytrust.org/media/3422/you-choose-landscape.jpeg" 
                                                                    id="image" width="100" height="200" 
                                                                    class="form-control">
                                                                </div>
                                                                
                                                            </div>
                                                            <div class="form-group row">
                                                            <label class="col-sm-2 col-form-label"></label>
                                                            <div class="col-sm-10"  >
                                                                <button type="submit"  id="submitbtn" class="btn btn-primary" >
                                                                    SAVE
                                                                </button>
                                                            </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div id="styleSelector">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
    {% include 'Ajax/ajax.html' %}
    <script>
        {% for msg in messages %}
            swal("Successfull!", "{{msg}}", "success");
        {% endfor %}
    </script>
    <!--end js-->
</body>

</html>
