{% block header %}
{% load static %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
<meta name="description" content="Phoenixcoded">
<meta name="keywords"
    content=", Flat ui, Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
<meta name="author" content="Phoenixcoded">

<link rel="icon" href="{% static 'content/assets/images/favicon.ico' %}" type="image/x-icon">

<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'content/css/bootstrap/dist/css/bootstrap.min.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'content/assets/icon/themify-icons/themify-icons.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'content/assets/icon/icofont/css/icofont.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'content/assets/pages/flag-icon/flag-icon.min.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'content/assets/pages/menu-search/css/component.css' %}">

<link rel="stylesheet" type="text/css"
    href="{% static 'content/assets/pages/dashboard/horizontal-timeline/css/style.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'content/assets/pages/dashboard/amchart/css/amchart.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'content/assets/pages/flag-icon/flag-icon.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'content/assets/pages/menu-search/css/component.css' %}">
<link rel="stylesheet" type="text/css"
    href="{% static 'content/css/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'content/assets/pages/data-table/css/buttons.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css"
        href="{% static 'content/css/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'content/assets/css/style.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'content/assets/css/color/color-1.css' %}" id="color" />
<link rel="stylesheet" type="text/css" href="{% static 'content/assets/css/linearicons.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'content/assets/css/simple-line-icons.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'content/assets/css/ionicons.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'content/assets/css/jquery.mCustomScrollbar.css' %}">

{% endblock %}