    {% block footer %}
    {% load static %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="{% static 'content/css/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'content/css/jquery-ui/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'content/css/tether/dist/js/tether.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'content/css/bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'content/css/jquery-slimscroll/jquery.slimscroll.js' %}"></script>

    <script type="text/javascript" src="{% static 'content/css/modernizr/modernizr.js' %}"></script>
    <script type="text/javascript"
        src="{% static 'content/css/modernizr/feature-detects/css-scrollbars.js' %}"></script>

    <script type="text/javascript" src="{% static 'content/css/classie/classie.js' %}"></script>
    <script src="{% static 'content/css/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'content/css/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'content/assets/pages/data-table/js/jszip.min.js' %}"></script>
    <script src="{% static 'content/assets/pages/data-table/js/pdfmake.min.js' %}"></script>
    <script src="{% static 'content/assets/pages/data-table/js/vfs_fonts.js' %}"></script>
    <script src="{% static 'content/css/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'content/css/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'content/css/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'content/css/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'content/css/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>
    <script src="{% static 'content/css/d3/d3.js' %}"></script>
    <script src="{% static 'content/css/rickshaw/rickshaw.js' %}"></script>

    <script src="{% static 'content/css/raphael/raphael.min.js' %}"></script>
    <script src="{% static 'content/css/morris.js/morris.js' %}"></script>

    <script type="text/javascript" src="{% static 'content/assets/pages/dashboard/horizontal-timeline/js/main.js' %}"></script>

    <script type="text/javascript" src="{% static 'content/assets/pages/dashboard/amchart/js/amcharts.js' %}"></script>
    <script type="text/javascript" src="{% static 'content/assets/pages/dashboard/amchart/js/serial.js' %}"></script>
    <script type="text/javascript" src="{% static 'content/assets/pages/dashboard/amchart/js/light.js' %}"></script>
    <script type="text/javascript"
        src="{% static 'content/assets/pages/dashboard/amchart/js/custom-amchart.js' %}"></script>

    <script type="text/javascript" src="{% static 'content/css/i18next/i18next.min.js' %}"></script>
    <script type="text/javascript"
        src="{% static 'content/css/i18next-xhr-backend/i18nextXHRBackend.min.js' %}"></script>
    <script type="text/javascript"
        src="{% static 'content/css/i18next-browser-languagedetector/i18nextBrowserLanguageDetector.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'content/css/jquery-i18next/jquery-i18next.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'content/assets/pages/dashboard/custom-dashboard.js' %}"></script>
    <script type="text/javascript" src="{% static 'content/assets/js/script.js' %}"></script>
    <script src="{% static 'content/assets/pages/data-table/js/data-table-custom.js' %}"></script>
    <script src="{% static 'content/assets/js/pcoded.min.js' %}"></script>
    <script src="{% static 'content/assets/js/demo-12.js' %}"></script>
    <script src="{% static 'content/assets/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'content/assets/js/jquery.mousewheel.min.js' %}"></script>
    {% endblock %}